<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/dashboard.css" />
    <link rel="stylesheet" href="/styles/bs/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Cron Dashboard</title>
  </head>
  <body>
    <main class="cron-dashboard">
      <nav class="navbar fixed-top navbar-light bg-custom">
        <div class="container-fluid">
          <a class="navbar-brand nav-title" href="/dashboard">Template</a>
        </div>
      </nav>
      <div class="side-nav">
        <nav class="nav flex-column nav-pills">
          <a <% if (active === 'home') { %> class="nav-link active" <% } else { %> class="nav-link" <% } %>  aria-current="page" href="/dashboard"
            >Home</a
          >
          <a <% if (active === 'form') { %> class="nav-link active" <% } else { %> class="nav-link" <% } %> aria-current="page" href="/dashboard/form"
            >Form</a
          >
        </nav>
      </div>
      <section>
       <%- body %>
      </section>
    </main>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
