.side-nav {
  width: 280px;
  height: 100%;
  background-color: whitesmoke;
  position: fixed;
  padding: 1rem;
  top: 56px;
}

section {
  margin-left: 280px;
  padding: 2rem;
  height: 2000px;
  margin-top: 56px;
}
.bg-custom {
  background-color: #141492;
  color: white;
}

.nav-title {
  color: white !important;
}

.submit-btn {
  background-color: #fad106 !important;
  color: #1b2e90 !important;
  margin-top: 0.5rem;
}
